@import "../../styles/Sass/abstracts/variables";
@import "../../styles/Sass/abstracts/mixins";

.contentWrapper {
  height: 100vh;
  @include flex-box-generic(center, center, row);
  position: relative;
  margin-bottom: 4rem;

  & > div > h1 {
    font-family: $heading-font;
    color: $heading-txt-clr-light;
    line-height: 1.2;
    font-size: 200%;
    & > span {
      white-space: nowrap;
    }
  }
  & > div > p {
    margin-top: 5%;
    line-height: 1.2;
    color: $paragraph-txt-clr-light;
  }
  & .buttonWrapper {
    margin-top: 2rem;
    & > button {
      margin: 0rem 1rem 1rem 0rem;
    }
  }
  & .iconWrapper {
    @include flex-center-row;
    position: absolute;
    bottom: 0;
    left: -0.5rem;
    & svg {
      fill: $primary-btn-clr-lgt;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .contentWrapper {
    & > div > h1 {
      color: $heading-txt-clr-dark;
    }
    & > div > p {
      color: $paragraph-txt-clr-dark;
    }
    & .iconWrapper {
      & svg {
        fill: $primary-btn-clr-dark;
      }
    }
  }
}

.contactForm {
  position: fixed;
  top: 0;
  left: 0;
  @include full-size(100vw, 100vh);
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 2;
  @include flex-center-row;
  &>div{
    width:98%;
    border-radius: .4rem;
    @include bg-gradient-light;

  }
}
@media(prefers-color-scheme:dark){
  .contactForm{
    &>div{
      @include bg-gradient-dark;
    }
  }
}

@include Screen-size-medium {
  .contactForm {
    &>div{
      width: 55%;

    }
  }
 
}