@import "../../styles/Sass/abstracts/variables";
@import "../../styles/Sass/abstracts/mixins";

.contentWrapper {
  height: 100vh;
  @include flex-box-generic(center, center, row);

  & > div > h1 {
    font-family: $heading-font;
    color: $heading-txt-clr-light;
    font-size: 200%;
  }
  & > div > p {
    margin-top: 5%;
    color: $paragraph-txt-clr-light;
  }
  & .buttonWrapper {
    margin-top: 2rem;
    & > button {
      margin-right: 2rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .contentWrapper {
    & > div > h1 {
      color: $heading-txt-clr-dark;
    }
    & > div > p {
      color: $paragraph-txt-clr-dark;
    }
  }
}
