@import "../../styles/Sass/abstracts/variables";
@import "../../styles/Sass/abstracts/mixins";


.aboutBox{
    @include flex-center-column;
    height:100%;
}
 
@include Screen-size-medium{
  .aboutBox{
    flex-direction: row;
  }
  .imageWrapper{
        margin-bottom: 0;
    &>img{
      margin-bottom: 0;
    }
  }
}

.imageWrapper{
    &>img{
        width:20rem;
        margin-bottom: 2rem;
    }
}
.infoContainer{
  text-align: center;
    & > h2{
        font-family: $heading-font;
        color: $heading-txt-clr-light;
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
    &>p{
      color:$paragraph-txt-clr-light;
      line-height: 1.2;
    }
    @include Screen-size-medium{
      text-align: left;
    }
}


@media (prefers-color-scheme:dark){
  .infoContainer{
    &>h2{
      color:$heading-txt-clr-dark;
    }
    &>p{
      color:$paragraph-txt-clr-dark;
    }
  }
}