@mixin squireGenerator($size: 10vw) {
  width: $size;
  height: $size;
}
@mixin flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-box-generic($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin full-size($wdth: 10vw, $hgt: 10vh) {
  width: $wdth;
  height: $hgt;
}
@mixin gen-linear-gradient($color1, $color2) {
  background-image: linear-gradient(to bottom right, $color1, $color2);
}
