// color variables definations

$bg-clr-lgt: rgb(238, 250, 252);
$bg-clr-dark: #0e0014;

$primary-txt-clr-lgt: #594f61;
$primary-txt-clr-dark: #acc3c1;

$heading-txt-clr-dark: #8ea2a2;
$heading-txt-clr-light: #504c54;
$paragraph-txt-clr-light: #7a7281;
$paragraph-txt-clr-dark: #69676b;

$primary-btn-clr-lgt: #574862;
$primary-btn-clr-dark: #86caca;
$primary-btn-txt-clr-lgt: white;
$primary-btn-clr-txt-dark: #06002e;

$gradiant-color-top: #1f2929;
$gradiant-color-bottom: #271f2f;

/////////////////////////////////

// fonts variables definationns

$heading-font: "Fredoka One", cursive;
$paragraphs-font: "Roboto", sans-serif;
