@import "../../../styles/Sass/abstracts/variables";
@import "../../../styles/Sass/abstracts/mixins";

.imageWrapper {
  @include flex-center-row;
  cursor: pointer;
  & > svg {
    @include squireGenerator(2rem);
    fill: $heading-txt-clr-dark;
    margin: 1rem 0.5rem;
    transition: all 0.5s ease;
  }
  &:hover > svg {
    fill: saturate(lighten($primary-btn-clr-dark, 10%), 20%);
    transform: scale(1.2);
  }
}
