@import "../../styles/Sass/abstracts/variables";
@import "../../styles/Sass/abstracts/mixins";

.container {
  width: 100%;
  background-color: $content-card-color-light;
  border-radius: 0.4rem;
}
.imageWrapper {
  width: 100%;
  height: 20rem;
}

.tags {
  @include flex-box-generic(flex-start, center, row);
  & > svg {
    @include squireGenerator((1rem));
  }
  & > span {
    font-size: 90%;
  }
}
