@import "../../styles/Sass/abstracts/variables";
@import "../../styles/Sass/abstracts/mixins";

.container {
  width: 100%;
  background-color: $content-card-color-light;
  border-radius: 0.4rem;
  padding-bottom: .8rem;
  &  h2{
    font-family: $heading-font;
    font-size: 1.2rem;
    padding:.4rem;
    color: $heading-txt-clr-light;
  }
  & a{
    text-decoration: none;
    color: $heading-txt-clr-light;

    &:hover{
      text-decoration: underline;
    }
  }
  & > p{
    padding: .4rem;
    padding-bottom: 0;
    @include line-clamp(3);
    color: $paragraph-txt-clr-light;
  }
}
.imageWrapper {
  width: 100%;  
  overflow: hidden;
  border-radius: .4rem;
  object-fit: cover;
  object-position: center;
  & > img{
    width:100%;

  }
}

.tags {
  margin: .5rem 0rem;
  @include flex-box-generic(flex-start, center, row);
  & > svg {
    fill:$paragraph-txt-clr-light;
    @include squireGenerator((1rem));
    margin-left: .6rem;

  }
  & > span {
    font-size: 80%;
    color: $paragraph-txt-clr-light;
  }
}

@media (prefers-color-scheme:dark){
  .container{
    background-color: $content-card-color-dark;
    &  h2{
      color: $heading-txt-clr-dark;
    }
    & a{
      color: $heading-txt-clr-dark;

    }
    & > p{
      color: $paragraph-txt-clr-dark;
    }
  }
  .tags{
    & > svg {
      fill:$paragraph-txt-clr-dark;
    }
    &>span{
      color: $paragraph-txt-clr-dark;
    }
  }
}
