@import "../../styles/Sass/abstracts/variables";
@import "../../styles/Sass/abstracts/mixins";

.layout {
  @include flex-box-generic(center, stretch, column);
  width: 100%;
  min-height: 50vh;
  gap: 2rem;
  flex-grow: 1;

  & > .formWrapper {
    @include flex-box-generic(center, center, row);
    gap: 2rem;
    width: 100%;
  }
  & > .iconsWrapper {
    @include flex-box-generic(center, center, row);
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
  }

  @include Screen-size-medium {
    & {
      flex-direction: row;
      & > .formWrapper {
        width: 70%;
      }
      & > .iconsWrapper {
        width: 30%;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .pageWrapper {
    & > h1 {
      color: $heading-txt-clr-dark;
    }
    & > p {
      color: $paragraph-txt-clr-dark;
    }
    & > hr {
      border-color: $primary-btn-clr-dark;
    }
  }
}

.link {
  text-decoration: none;
  color: inherit;
  width: 26%;
}

.iconBox {
  border-radius: 0.4rem;
  background-color: $content-card-color-light;
  @include flex-center-column;
  transition: all 0.4s ease;
  padding: 1.5rem;
  width: 100%;
  & > svg {
    @include squireGenerator(2rem);
    fill: $primary-btn-clr-lgt;
    margin-bottom: 0.8rem;
  }
  & > h3 {
    font-family: $heading-font;
    color: $primary-btn-clr-lgt;
    font-size: 1.2rem;
  }
  &:hover {
    transform: scale(1.1);
  }
}
@media (prefers-color-scheme: dark) {
  .iconBox {
    background-color: $content-card-color-dark;
    & > svg {
      fill: $primary-btn-clr-dark;
    }
    & > h3 {
      color: $primary-btn-clr-dark;
    }
  }
}
@include Screen-size-medium {
  .link {
    width: 40%;
  }
  .iconBox {
    padding: 2.5rem;
    & > svg {
      @include squireGenerator(4rem);
    }
    & > h3 {
      font-size: 1rem;
    }
  }
}
