@import "../../styles/Sass/abstracts/variables";
@import "../../styles/Sass/abstracts/mixins";

.hireForm {
  width: 100%;
  & > form {
    width: 100%;
    background-color: $content-card-color-light;
    border-radius: 0.5rem;
    transition: all 1s ease-in-out;
    @include flex-center-row;
    padding: 2rem 0;
    object-position: top;
  }

  & > form > .container {
    @include flex-box-generic(space-between, center, row);
    flex-wrap: wrap;
    font-size: 1rem;
    gap: 1rem 0rem;
    width: 90%;
  }
}

.container > h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-family: $heading-font;
  color: $heading-txt-clr-light;
}
.container > p {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  color: $paragraph-txt-clr-light;
}

.hireForm .container > div:nth-child(4),
.hireForm .container > div:nth-child(5),
.hireForm .container > div:nth-child(6) {
  width: 100%;
}
.hireForm .container > div:nth-child(5),
.hireForm .container > div:nth-child(6) {
  margin-bottom: 0px;
  & > button {
    width: 100%;
  }
}
.hireForm .container > div:nth-child(6) {
  margin-top: 1rem;
}

.hireForm .container > div:nth-child(7) {
  @include flex-box-generic(space-between, center, row);
  gap: 1rem;
  width: 100%;
  & > button {
    width: 48%;
    flex-grow: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .hireForm {
    
    & > form {
      background-color: $content-card-color-dark;
    }
    .container {
      & > h2 {
        color: $heading-txt-clr-dark;
      }
      & > p {
        color: $paragraph-txt-clr-dark;
      }
    }
  }
}


