@import "../../styles/Sass/abstracts/variables";
@import "../../styles/Sass/abstracts/mixins";

.sectionWrapper {
  @include flex-box-generic(flex-start, center, column);
  text-align: center;
  width: 100%;
  min-height: 80vh;
  position: relative;
  padding: 6rem 0rem;

  & > span {
    color: $primary-btn-clr-lgt;
    font-weight: bold;
  }
  & > div > h2 {
    font-family: $heading-font;
    color: $heading-txt-clr-light;
    margin-top: 1rem;
    font-size: 140%;
    @include flex-center-column;
    & > svg {
      @include squireGenerator(4rem);
      fill: $heading-txt-clr-light;
      margin: 1rem;
    }
  }
  & > div > p {
    @include flex-center-column;
    color: $paragraph-txt-clr-light;
    margin-top: 1rem;
    line-height: 1.5;
    text-align: center;
  }
  & > hr {
    margin-top: 1rem;
    width: 24%;
    border: none;
    border-bottom: 3px solid $primary-btn-clr-lgt;
  }
}

@media (prefers-color-scheme: dark) {
  .sectionWrapper {
    & > span {
      color: $primary-btn-clr-dark;
    }
    & > div > h2 {
      color: $heading-txt-clr-dark;
      & > svg {
        fill: $heading-txt-clr-dark;
      }
    }
    & > div > p {
      color: $paragraph-txt-clr-dark;
    }
    & > hr {
      border-color: $primary-btn-clr-dark;
    }
  }
}

@include Screen-size-medium {
  .sectionWrapper {
    flex-direction: column;
    gap: 2rem;
    & > span,
    & > hr {
      position: absolute;
      top: 3rem;
      right: 0rem;
    }
    & > span {
      margin: 0;
      top: 2rem;
    }

    & > div {
      @include flex-center-row;
      border-radius: 0.6rem;
      align-items: stretch;
    }
    & > .infoWrapper {
      width: 100%;
      gap: 2rem;
    }
    & > .contentWrapper {
      width: 100%;
      min-height: 50vh;
    }

    & > div > h2,
    & > div > p {
      background-color: $content-card-color-light;
      padding: 1rem;
      border-radius: 0.4rem;
      width: 100%;
      margin: 0;
      flex-grow: 1;
    }
  }

  @media (prefers-color-scheme: dark) {
    .sectionWrapper {
      & > div > h2,
      & > div > p {
        background-color: $content-card-color-dark;
      }
    }
  }
}

@include Screen-size-large {
  .sectionWrapper {
    flex-direction: row;
    align-items: stretch;
    & > div {
      @include flex-center-column;
    }
    & > .infoWrapper {
      width: 25%;
      gap: 2rem;
    }
    & > .contentWrapper {
      width: 75%;
      min-height: 50vh;
    }
    & > div > h2,
    & > div > p {
      padding: 1rem;
    }
  }
}

.sectionButtonWrapper {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
