@import "../../../styles/Sass/abstracts/variables";
@import "../../../styles/Sass/abstracts/mixins";

.inputWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  & > label {
    color: $paragraph-txt-clr-light;
  }
  & > textarea {
    color: $paragraph-txt-clr-light;
    padding: 0.5rem;
    width: 100%;
    background-color: lighten($bg-clr-lgt, 2%);
    border: 2px solid transparent;
    outline: none !important;
    transition: all 0.4s ease-in-out;
    resize: none;
    overflow-y: auto;
    height: 8rem;
    border-radius: 0.4rem;
    &:hover,
    &:active {
      border-color: $primary-btn-clr-lgt;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .inputWrapper {
    & > label {
      color: $paragraph-txt-clr-dark;
    }
    & > textarea {
      color: $paragraph-txt-clr-dark;
      background-color: desaturate(
        lighten($bg-clr-dark, $amount: 5%),
        $amount: 60%
      );
      &:hover,
      &:focus {
        border-color: $primary-btn-clr-dark;
      }
    }
  }
}
